<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DevTips Starter Kit</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="assets/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="page-wrap" ng-app="myApp" ng-controller="uiCtrl">
            <button class="control" ng-click="changeState()">Next Step</button>
            <div class="card-wrap" ng-class="currentState">
                <article class="material-card">
                    <header>
                        <div class="avatar"></div>
                        <div class="header-text">
                            <h1 class="title">Title</h1>
                            <span class="subtitle">Subhead</span>
                        </div>
                    </header>
                    <div class="media-area"></div>
                    <div class="supporting-content">
                        <span>Post-ironic helvetica mlkshk, readymade whatever meditation blog offal irony. Pop-up kickstarter seitan iPhone.</span>
                    </div>
                    <div class="expandable">
                        <div class="actions">
                            <button class="btn-action" ng-click="autoState()">
                                <span class="action-text">Details &#x25BE;</span>
                            </button>
                        </div>
                        <div class="details">
                            <span>All of the details will go here.</span>
                            <img src="http://fillmurray.com/300/200">
                            <span>Food truck kitsch jean shorts farm-to-table. Single-origin coffee 8-bit gochujang taxidermy, ramps before they sold out neutra farm-to-table franzen iPhone truffaut selvage XOXO microdosing. Whatever affogato DIY typewriter, cold-pressed banh mi four dollar toast literally mustache put a bird on it truffaut try-hard dreamcatcher. Paleo kombucha lomo forage disrupt etsy. Tofu keffiyeh kombucha wayfarers umami, food truck art party keytar. Roof party polaroid chartreuse trust fund chillwave fap wayfarers, selfies before they sold out. IPhone pickled truffaut sartorial, forage hammock polaroid authentic marfa gentrify.</span>
                            <span>Semiotics pork belly mustache, schlitz next level ennui keytar. Etsy dreamcatcher single-origin coffee kinfolk meggings whatever. Polaroid sustainable try-hard cornhole quinoa.</span>
                            <i class="close" ng-click="changeState()">&times;</i>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/angular-animate.js"></script>
        <script src="assets/js/uiCtrl.js"></script>
    </body>
</html>
